/* Css for different screens */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #menu {
    display: none;
  }

  .nav-desk {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .nav-desk li {
    list-style-type: none;
    margin: 10px;
  }

  .nav-desk li a {
    color: #fff;
    font-weight: bold;
  }

  .nav-desk li a:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  .section-part {
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .section-part-sector {
    width: 30%;
    text-align: center;
  }

  .about {
    flex-flow: row nowrap;
    padding: 30px;
  }

  .about-head {
    width: 40%;
    margin: 5px;
  }

  .about-body {
    width: 50%;
  }

  .contact-area {
    margin-top: 130px;
  }

  .contact-block, .contact-area h2 {
    width: 50%;
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #menu {
    display: none;
  }

  .nav-desk {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .nav-desk li {
    list-style-type: none;
    margin: 10px;
  }

  .nav-desk li a {
    color: #fff;
    font-weight: bold;
  }

  .nav-desk li a:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  .section-part {
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .section-part-sector {
    width: 30%;
    text-align: center;
  }

  .about {
    flex-flow: row nowrap;
    padding: 30px;
  }

  .about-head {
    width: 40%;
    margin: 5px;
  }

  .about-body {
    width: 50%;
  }

  .contact-area {
    margin-top: 130px;
  }

  .contact-block, .contact-area h2 {
    width: 50%;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #menu {
    display: none;
  }

  .nav-desk {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .nav-desk li {
    list-style-type: none;
    margin: 10px;
  }

  .nav-desk li a {
    color: #fff;
    font-weight: bold;
  }

  .nav-desk li a:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  .section-part {
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .section-part-sector {
    width: 30%;
    text-align: center;
  }

  .about {
    flex-flow: row nowrap;
    padding: 30px;
  }

  .about-head {
    width: 40%;
    margin: 5px;
  }

  .about-body {
    width: 50%;
  }

  .contact-area {
    margin-top: 130px;
  }

  .contact-block, .contact-area h2 {
    width: 50%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #menu {
    display: none;
  }

  .nav-desk {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .nav-desk li {
    list-style-type: none;
    margin: 10px;
  }

  .nav-desk li a {
    color: #fff;
    font-weight: bold;
  }

  .nav-desk li a:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  .section-part {
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .section-part-sector {
    width: 30%;
    text-align: center;
  }

  .about {
    flex-flow: row nowrap;
    padding: 30px;
  }

  .about-head {
    width: 40%;
    margin: 5px;
  }

  .about-body {
    width: 50%;
  }

  .contact-area {
    margin-top: 130px;
  }

  .contact-block, .contact-area h2 {
    width: 50%;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 260px;
    margin-top: 15px;
  }
  
  .footer-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 10px;
    height: 150px;
  }
  
  .footer-body-section {
    margin-left: 5px;
  }
  
  .footer-body .footer-body-section a {
    display: inline;
    padding: 3px;
  }
}
